body, html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1333px;
  margin: 0 auto;
}

.advantages {
  padding-top: 90px;
  padding-bottom: 90px;
}

.advantages-inner {
  display: flex;
  justify-content: space-between;
}

.advantages-item {
  flex-basis: 30%;
  text-align: center;
}

.advantages-item h3 {
  margin-bottom: 15px;
  font-size: 18px;
  text-align: center;
  color: #313332;
  text-transform: uppercase;
}

.advantages-item p {
  font-size: 12px;
}

.advantages-icon {
  margin-bottom: 30px;
}

.sect-title {
  margin-bottom: 14px;
  font-size: 35px;
  color: #313332;
  text-transform: uppercase;
  text-align: center;
}

.sect-more {
  font-size: 17px;
  color: #5d5e5c;
  line-height: 32px;
  text-align: center;
}

.feature-work-gallery {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 68px;
  padding-top: 68px;
}

.feature-work .gallery-photo {
  flex-basis: 25%;
  height: 170px;
  background-repeat: no-repeat;
  background-size: cover;
}

.feature-work .gallery-photo:nth-child(1) {
  background-image: url(../img/image_1.png);
}

.feature-work .gallery-photo:nth-child(2) {
  background-image: url(../img/image_2.png);
}

.feature-work .gallery-photo:nth-child(3) {
  background-image: url(../img/image_3.png);
}

.feature-work .gallery-photo:nth-child(4) {
  background-image: url(../img/image_4.png);
}

.feature-work .gallery-photo:nth-child(5) {
  background-image: url(../img/image_5.png);
}

.feature-work .gallery-photo:nth-child(6) {
  background-image: url(../img/image_6.png);
}

.feature-work .gallery-photo:nth-child(7) {
  background-image: url(../img/image_7.png);
}

.feature-work .gallery-photo:nth-child(8) {
  background-image: url(../img/image_1.png);
}

.header {
  background: #313332;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 74px;
}

.header-menu ul {
  display: flex;
  justify-content: space-between;
}

.header-menu ul li {
  list-style: none;
}

.header-menu ul a {
  font: 16px 'OpenSans-R', sans-serif;
  text-transform: uppercase;
  color: #fff;
  padding: 0 20px;
}

.header-menu ul a:hover {
  color: #00c7e8;
}

.hero {
  min-height: 396px;
  position: relative;
  background-image: url(../img/Problem.jpg);
  background-size: cover;
  background-position: center center;
}

.hero-content {
  min-height: 156px;
  width: 40%;
  background: #231f20;
  opacity: 0.7;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -78px;
  padding-top: 33px;
  padding-left: 39px;
  padding-right: 39px;
}

.hero-title {
  width: 70%;
  font: 400 31px 'OpenSaNS-SB', sans-serif;
  color: #fff;
  text-transform: uppercase;
  line-height: 31px;
}
